#{extends 'main.html' /}
#{set title:'Home' /}

<p>${message}</p>
<fieldset>
#{form @sendNotification()}
Send a Notification: 
#{select 'userId', items:models.FacebookUser.findAll(), valueProperty:'id', labelProperty:'lastName', value:5, class:'test', id:'select2' /}
<input type="submit" value="send" />
#{/form}
</fieldset>
<fieldset>
#{form @sendMessage()}
<p>Send As: 
#{select 'senderId', items:models.FacebookUser.findAll(), valueProperty:'id', labelProperty:'lastName', value:5, class:'test', id:'select2' /}
</p>
<p>Send To: 
#{select 'recipientId', items:models.FacebookUser.findAll(), valueProperty:'id', labelProperty:'lastName', value:5, class:'test', id:'select2' /}
</p>
<p>Message: 
<textarea name="message"></textarea>
</p>
<input type="submit" value="send" />
#{/form}
</fieldset>